<html>
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<div class="container">
  <div class="row">
        <div class="col">
            <input type="text" name="suuid" id="suuid" value="demo1">
            <input type="text" name="url" id="url" value="rtsp://hk:a12345678@192.168.1.10:554/h264/ch1/main/av_stream">
            <input type="text" name="port" id="port" value="8888">
            <input type="button" name="changebtn" id="changebtn" value="连接" onclick="startup()">
            <video id="livestream" style="width:600px;" controls autoplay muted></video>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/app.js?ver={{ .version }}"></script>
</html>
